*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    border:2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.store-container{
    border:2px solid yellow;
    height: 500px;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.store-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.categories{
    padding:10px;
    margin: 20px;
    border:2px solid black;
}
.categories *{
    margin: 10px;
}